.app{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    align-content: center;
}

  @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');



        
      
  .text-xs {
    font-family: "Rubik", sans-serif;
    }
    